//color
$white: #fff;
$black: #000;
$noir_optique: #010202; //optical black
$green_ifocop: #1D5141; 
$secondary_green: #009382;
$light_green_ifocop: #439F35;
$grey_ifocop: #F0F0F0;
$primary_blue: #2A4798;

//fonts family
$sofia_font: 'Sofia Pro';