.certs
{
   
    display: flex;
    flex-direction: column;

    @media screen and (min-width: 992px) {
        flex-direction: row;
        justify-content: space-evenly;
        padding: 30px;
    }
    &_one_cert {
        display: block;
        text-align: center;
    }

    &_one_logo {
        width: 60px; 
        height: 60px;
        display: block;
        margin-bottom: 15px;
        margin-left: auto;
        margin-right: auto;
    }

    &_one_title {
        text-align: center;
        font-family: $sofia_font;
        font-style: normal;
        font-weight: 700;
        font-size: 2rem;
        line-height: 120%;
        color: $noir_optique;
    }

    &_one_description {
        text-align: center;
        font-family:  $sofia_font;
        font-style: normal;
        font-weight: 400;
        font-size: 1.6rem;
        line-height: 125%;
        color: $noir_optique;
        margin: 25px;
        margin-top: 15px !important;
    }

}