.formations {
   
    display: flex;
    flex-direction: column;
    background: $grey_ifocop;
    padding: 30px;

    &_p {
        font-family: $sofia_font;
        font-style: normal;
        font-weight: 700;
        font-size: 2rem;
        line-height: 120%;
        color: $noir_optique;
        margin-bottom: 10px;
    }

    &_container_all_formation {
        display: flex;
        flex-direction: column;

        @media screen and (min-width: 992px) {
            display: block; 
            flex-direction: row;
        }

    }

    &_container_one_formation {
        display: flex;
        flex-direction: row;
        background: $white;
        padding: 20px;
        margin-bottom: 10px;
        @media screen and (min-width: 992px) {
            width: auto;
            float: left;
            margin-left: 20px; 
        }
    }

    &_container_one_formation:hover {
        background: $grey_ifocop;
    }

    &_a {
        font-family: $sofia_font;
        font-style: normal;
        font-weight: 400;
        font-size: 1.8rem;
        line-height: 120%;
        color: $noir_optique;
        margin-left: 10px;
    }
}