.ifocop
{
    display: flex;
    flex-direction: column;

    &_search_button {
        margin-right: 10px;
        @media screen and (min-width: 992px) {
            display: none;
        }
    }

    &_menu_desktop {
        display: none;
        background: $green_ifocop;
        @media screen and (min-width: 992px) {
            display: flex;
            flex-direction: row;
            border-top: 0.6px solid $grey_ifocop;
        }
    }

    &_first_item_desktop {
        justify-content: center;
        font-family: $sofia_font;
        font-style: normal;
        font-weight: 500;
        font-size: 1.8rem;
        line-height: 18px;
        color: $white;
        padding: 30px;
        border-right: 0.6px solid $grey_ifocop;
        text-decoration: none;
        text-align: center;
        width: calc(100%/7);
    }

    &_item_desktop {
        justify-content: center;
        font-family: $sofia_font;
        font-style: normal;
        font-weight: 500;
        font-size: 1.8rem;
        line-height: 18px;
        color: $white;
        padding: 30px;
        text-align: center;
        text-decoration: none;
        width: calc(100%/7);
    }

    &_header
    {
        /* Auto layout */
        display: flex;
        flex-direction: row;
        align-items: center;
        position: relative;
        width: 100%;
        height: 70px;
        background: $green_ifocop;
        justify-content: space-between;

        &_right_container {
            display: flex;
            flex-direction: row;
        }

    }

    &_logo
    {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0px;
        position: static;
        height: 30px;
        @media screen and (min-width: 992px) {
            margin-left: 20px;
        }


    }
      
    &_nav {
        overflow: hidden;
        background-color: $green_ifocop;
        position: relative;
        padding: 10px;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        @media screen and (min-width: 992px) {
            display: none;
        }
    }
      
    &_pop_menu_link {
        display: none;
    }
    
    &_a {
        color: black;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        display: block;
    }
    
    &_a:hover {
        background-color: #ddd;
        color: black;
    }

    &_tel {
        background: $light_green_ifocop;
        border-radius: 25px;
        padding: 5px 10px;
        text-align: center;
        font-family: 'Sofia Pro';
        font-style: normal;
        font-weight: 700;
        font-size: 1.6rem;
        line-height: 100%;
        color: white;
        margin-right: 15px;

        @media screen and (min-width: 992px) {
            display: none;
        }

        &_container {
            display: flex;
            flex-direction: column;
            padding-right: 20px;
            margin-left: 20px;
            @media screen and (max-width: 991px) {
                display: none;
            }
        }


    }

    &_button_nav{
        background-color: $white;
        color: $black;
        padding: 10px 60px;
        border-radius: 20px;
        border: solid black;
        text-align: center;
        font-family: 'Sofia Pro';
        font-style: normal;
        font-weight: 700;
        font-size: 1.2rem;
    }

    &_button_nav:active{
        background-color: $black;
        color: $white;
        padding: 10px 60px;
        border-radius: 20px;
        border: solid $black;
        text-align: center;
        font-family: 'Sofia Pro';
        font-style: normal;
        font-weight: 700;
        font-size: 1.2rem;
    }

    &_plus {
        justify-content: space-between;
        display: flex;
        flex-direction: row;
    }
    
    &_sub_menu_link {
        display: block;
        flex-direction: column;
        align-items: flex-start;
        padding: 20px;
        left: 0px;
        top: 0px;
        background: $white;
        width: auto;
        position: relative;
        display: none;
    }


    &_sub_item{
        display: flex;
    }

    &_search {
        padding-top: 0;
        background: $green_ifocop;
        padding: 10px;
        width: 100%;
        display: none;

        @media screen and (min-width: 992px) {
            display: none;
        }
    }

    &_search_input {
        background: white;
        width: 100%;
        height: 35px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        padding: 5px;
        font-family: $sofia_font;
        font-size: 1.6rem;

        &_horizontal {
            background: white;
            height: 35px;
            width: 200%;
            border: 1px solid #ccc;
            border-radius: 8px;
            box-sizing: border-box;
            padding: 5px;
            font-family: $sofia_font;
            font-size: 1.6rem;
    
            @media screen and (max-width: 991px) {
                display: none;
            }
        }
    }

    &_button_header {
        /* Button Link */
        font-family: $sofia_font;
        font-style: normal;
        font-weight: 700;
        font-size: 1.6rem;
        line-height: 120%;
        text-align: center;
        color: white;
        border-radius: 25px;
        padding: 8px;
        background-color: transparent;

        @media screen and (max-width: 992px) {
            display: none;
        }

    }

    &_button_header:hover {
        color: $green_ifocop;
        background-color: $white;

    }

    &_p1 {
        font-family: $sofia_font;
        font-style: normal;
        font-weight: 300;
        font-size: 1.1rem;
        line-height: 135%;
        color: $white;
    }

    &_p2 {
        font-family: $sofia_font;
        font-style: normal;
        font-weight: 700;
        font-size: 1.6rem;
        line-height: 18px;
        color: $white;
    }

    &_side_logo {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    &_exit {
        width: 25px;
        height: 25px;
    }
}