.important
{
    display: block;
    position:   static;
    &_container {
        background: $white;
        height: 120px;
        display: flex;
        flex-direction: column;
        @media screen and (min-width: 992px) {
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            height: 70px;
            padding: 30px;
        }
    }

    &_container:hover {
        background: $light_green_ifocop;
    }

    &_logo {
        padding: 15px;
        display: flex;
        flex-direction: row;
    }

    &_p {
        font-family: $sofia_font;
        font-weight: 400;
        font-size: 1.6rem;
        color: $noir_optique;
        margin-left: 10px;
    }

    &_a {
        padding-left: 35px;
        font-family: $sofia_font;
        font-size: 1.6rem;
        text-decoration: underline;
        color: $green_ifocop;
    }
}