.informations {
   
    display: flex;
    flex-direction: column;
    background: $light_green_ifocop;
    padding: 20px;
    padding-top: 30px !important;
    margin-bottom: 20px;
    @media screen and (min-width: 992px) {
        display: flex;
        flex-direction: row;
    }


    &_container {
        display: flex;
        flex-direction: column;
        @media screen and (min-width: 992px) {
            width: calc(100%/2);
            padding: 5%;
        }
    }

    &_container_images {
        display: flex;
        flex-direction: row;

        &_img {
            width: 50%; 
            height: 100%;
        }
    }

    &_global_container {
        display: flex;
        flex-direction: column;
        overflow: hidden;
        justify-content: center;
        @media screen and (min-width: 992px) {
            width: calc(100%/2);
        }
    }

    &_header2 {
        font-family: $sofia_font;
        font-style: normal;
        font-weight: 700;
        font-size: 1.5rem;
        line-height: 120%;
        text-transform: uppercase;
        color: $white;
    }

    &_header1 {
        font-family: $sofia_font;
        font-style: normal;
        font-weight: 700;
        font-size: 4rem;
        line-height: 120%;
        color: $white;
        margin-top: 15px;
    }

    &_p {
        font-family: $sofia_font;
        font-style: normal;
        font-weight: 400;
        font-size: 1.6rem;
        line-height: 120%;
        color: $white;
        margin-top: 15px;
    }

    &_button {
        padding: 20px;
        margin-top: 15px;
        color: $light_green_ifocop;
        font-family: $sofia_font;
        font-style: normal;
        font-weight: 700;
        font-size: 1.6rem;
        line-height: 120%;
        @media screen and (min-width: 992px) {
            width: 60%;
        }
    }
}