* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html[lang] {
    position: relative;
    margin-top: 0 !important; /* Disables admin-bar margin */
    font: 10px 'Lato', Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}