.slider {
    display: flex;
    flex-direction: column;
    padding: 40px;
    
    &_dots {
        text-align: center;
        margin-bottom: 15px;

        @media screen and (min-width: 992px) {
            display: none;
        }
    }

    &_dot {
        cursor: pointer;
        height: 15px;
        width: 15px;
        margin: 0 2px;
        background-color: #999999;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
    }

    .active,
    &_dot:hover {
      background-color: #111111;
    }

    &_header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 20px;
        &_title {
            font-family: $sofia_font;
            font-style: normal;
            font-weight: 700;
            font-size: 2.5rem;
            line-height: 120%;
            color: $noir_optique;
            margin-bottom: 10px;
        }

        &_arrows {
            justify-content: space-between;

            @media screen and (max-width: 992px) {
                display: none;
            }
        }
    }

    &_button {
        font-family: $sofia_font;
        font-style: normal;
        font-weight: 700;
        font-size: 1.6rem;
        line-height: 120%;
        color: $white;
        background-color: $primary_blue;
        padding: 25px;
        width: max-content;
    }

    &_cards {
        display: none;
        @media screen and (min-width: 992px) {
            display: flex;
            flex-direction: row;
            margin-bottom: 20px;
        }

    }
    &_card {
        display: none;
        box-shadow: 10px 5px 5px $grey_ifocop;
        margin-bottom: 20px;


        @media screen and (min-width: 992px) {
            display: none !important;
            width: calc((100% - 150px) /3);
            margin-right: 50px;

        }

        &_header {
            background-color: $green_ifocop;
            background-image: url("/app/themes/inte/assets/images/greenCardHeader.svg");
            width: auto;
            height: 150px;
            position: relative;

            &_title {
                font-family: $sofia_font;
                font-style: normal;
                font-weight: 700;
                font-size: 1.5rem;
                line-height: 120%;
                text-align: right;
                text-transform: uppercase;
                color: $noir_optique;
                background-color: $white;
                padding: 15px;
                position: absolute;
                bottom: 0;
                right: 0;
            }
        }

        &_body {

            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 20px;

            &_span {
                font-family: $sofia_font;
                font-style: normal;
                font-weight: 700;
                font-size: 1.6rem;
                line-height: 125%;
                color: $white;
                background: $secondary_green;
                border-radius: 30px;
                padding: 10px;
                text-align: center;
                margin-bottom: 15px;
            }

            &_title {
                font-family: $sofia_font;
                font-style: normal;
                font-weight: 700;
                font-size: 2.1rem;
                line-height: 120%;

                text-align: center;
                color: $noir_optique;
            }

            &_line {
                display: flex;
                flex-direction: row;
                padding: 15px;
                border-bottom: 1px solid $noir_optique;

                &_p {
                    font-family: $sofia_font;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 1.6rem;
                    line-height: 125%;
                    color: $noir_optique;
                    margin-left: 10px;
                }
            }
        }
    }

    &_footer {
        display: grid;
        justify-items: center;
    }
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  @-webkit-keyframes fade {
    from {
      opacity: 0.4;
    }
    to {
      opacity: 1;
    }
  }
  @keyframes fade {
    from {
      opacity: 0.4;
    }
    to {
      opacity: 1;
    }
}

.left_arrow {
    transform: rotate(179.99deg); 
    opacity: 0.24; 
    margin-right: 20px";
}